<!-- app/views/home/index.html.erb -->

<header>
  AngularCasts
</header>

<div >
  <div id="subreddit-list-container" ng-controller="SubRedditsCtrl" >
    <ul>
      <li ng-repeat="subReddit in subReddits" >
        <h3  ng-click='showPosts(subReddit)' ng-class='isSelected(subReddit)'>
					{{subReddit.name}}  
				</h3>
      </li>
    </ul>
  </div>

	<div id="post-viewer-container" ng-controller="PostViewerCtrl" style="text-align:center;" >
		<h3 ng-show='noImages()'>No IMAGES</h3>
    <ul>
      <li ng-repeat="picture in pictureArray" >
  			<img style='width:50%;' ng-src="{{picture}}" />
      </li>
    </ul>
  </div>

  <div id="post-list-container" ng-controller="PostsCtrl" >
	
    <!-- This is where we are showing the shite -->
		<ul>
      <li ng-repeat="post in posts" >
        <h3 ng-click='showPictures(post)' ng-class='isSelected(post)'>
					{{post.title}}  
				</h3>
      </li>
    </ul>
  </div>
</div>